h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}
h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: justify;
}
hr{
    margin: 0px;
    color: rgba(192, 192, 192, 0.774);
}
body{
    background-color:#1A1A1A;
    margin: 0px;
}
nav{
    background-color: #222222;
    color:white;
    padding: 20px 100px ;
    word-spacing: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    display: inline;
    float: left;
  }

li a:hover {
  background-color: #111;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.container {
    margin: 30px 5cm;
    background-color: #222222;
}

.s{
    background-color: 333333;
    border-color: rgb(85, 85, 85);
    border-radius: 5px;
    border-style: solid;
    padding: 6px 30px 6px 12px;
    color: white;
    margin:7px ;
}
.content{
    padding: 9px 19px;
}
a h3{
    padding: 5px;
    
}

.container img {
    width: 100%;
    height: 70%;
}
a{
    text-decoration: none;
}
